
.aprofile {
    background-color:rgb(197, 232, 244);

}

h1 {
    font-size: larger;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

img, #file {
    margin: 0 30%;
    padding:0;
    align-items: center;
}

.name, .job, .school {
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
margin-right:80%;
flex-wrap: wrap;
}

label {
    font-size: 20px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
}


.bio {
    width: 80%;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10%;
}

div {
    margin: 5% 20%;
    background-color: white;
}


.bio, #city, #state, .age, .job, .school {
    margin:0 5%;
}