* {
    margin: 0;
    padding: 0;
}
.hero {
    margin-bottom: 12px;
}
.is-parent {
    margin-bottom: 2em;
}

.center {
    text-align: center;
}

.hide {
    display: none;
}

.center-content {
    margin: auto;
}

body {
    background-color: rgb(190, 165, 118);
}