* {
    margin: 0;
    padding: 0;
}

.hero {
    position:relative;
    height: 700px;
    width: 100%;
    background-image: url("../images/couple.jpg");
    background-size:cover;
    background-position: center;
}


h1 {
    margin-top:20px;
    text-align: center;
    font-weight: bolder;
    font-size: 80px;

}

h2 {
    text-align: center;
    font-weight:normal;
    font-size: 20px;
    font-style: italic;
}

.hide, .hideform, .loginScreen, .navHideSignup, .navHideLogin, .userProfile, .userMatches, .userSettings {
    display: none;
}

.center {
    text-align: center;
}

.center-content {
    margin: auto;
    position:absolute;
    bottom:10%;
    left:8%
}


body {
    background-color:rgb(197, 232, 244);
}

.login {
    background-color:#00d1b2;
    color:rgb(219, 218, 218);
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    line-height: 8px;
    width:80px;
}
/* insert hover pseudoclass for login class  */
.login:hover {
    background-color:#16baa2;
    border:#00d1b2;
    color:white; 
}
.loginForm {
    background-color:#00d1b2;
    color:rgb(219, 218, 218);
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    line-height: 8px;
    width:100%;
}
/* insert hover pseudoclass for loginForm */
.loginForm:hover {
    background-color:#16baa2;
    border:#00d1b2;
    color:white; 
}

.signup {
    background-color:white;
    color:#00d1b2;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-color:white;
    border-radius: 5px;
    line-height: 8px;
    width:80px;
    margin-left: 90%;
}
/* insert hover pseudoclass for signup  */
.signup:hover {
    border-color: #00d1b2;
}

.cancelbtn {   
    width: auto;   
    padding: 10px 18px;  
    margin: 10px 5px;  
    background-color:gray;
    color:whitesmoke;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    line-height: 8px;
}  

/* insert hover pseudoclass for cancelbtn  */
.cancelbtn:hover {
    background-color: lightgray;
    color:gray;
    border: 1px solid gray;
} 

.userLogin {
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid gray;   
    box-sizing: border-box;   
}

.red {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* insert hover pseudoclass for overlay class  */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  /* insert parameters for responsive design */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
 
.profile-pic {
  color: transparent;
  transition: all .3s ease;
  position: relative;
  transition: all .3s ease;
}
